.modal-input {
    background-color: rgb(133, 133, 250);
    width: 25vw;
    position: absolute;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2rem;
    top: 70px;
    left: 33%;
}

.modal-input input,
select {
    border: none;
    padding: 5px 20px;
    border-radius: 2rem;
}

.modal-input button {
    background-color: rgb(1, 1, 116);
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 2rem;
    cursor: pointer;
}